@use "./variables.scss";

.button {
  display: inline-block;
  padding: 16px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
  transition: all 0.3s linear;
  cursor: pointer;

  @media (min-width: variables.$tablet-width) {
    &:hover {
      background-color: variables.$bg-hover;
    }
  }

  &:active {
    background-color: variables.$bg-active;
    color: rgba(255, 255, 255, 0.3);
    transition-duration: 0.1s;
  }

  &:disabled {
    background-color: variables.$bg-disabled;
    color: variables.$text-color-disabled;
    cursor: default;
  }
}
