.button {
  display: inline-block;
  max-width: 100%;
  padding: 16px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
  transition: all 0.3s linear;
  cursor: pointer;
}
