@use "./variables.scss";

.hero-header {
  width: 100%;
  min-height: 389px;
  padding-top: 90px;
  background-color: #b3d5ea;
  color: #333333;
  background-image: url("../img/welcome-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;

  @media (min-width: variables.$tablet-width) {
    min-height: 518px;
    padding-top: 78px;
  }
}

.hero-header--inner {
  min-height: 158px;
  padding-top: 52px;

  @media (min-width: variables.$tablet-width) {
    min-height: 290px;
    padding-top: 95px;
  }

  @media (min-width: variables.$desktop-width) {
    min-height: 301px;
    padding-top: 101px;
  }
}

.hero-header__image {
  display: block;
  margin: 0 auto;
}
