.main-navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #81b3d2;
}

.main-navigation__link {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
