.main-footer {
  padding: 41px 33px 33px 33px;
}

.main-footer__hashteg-link {
  display: inline-block;
  margin-bottom: 30px;
  font-size: 21px;
  text-decoration: none;
  color: #000000;
}

.main-footer__socials-list {
  margin-bottom: 30px;
}

.main-footer__develop-link {
  min-width: 129px;
}
