@use "./variables.scss";

.main-footer {
  width: 100%;
  padding: 41px 33px 33px 33px;

  @media (min-width: variables.$tablet-width) {
    padding: 36px 33px;
  }
}

.main-footer__wrapper {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-auto-flow: dense;
  gap: 30px;
  width: 100%;
  margin: 0 auto;
  max-width: 960px;

  @media (min-width: variables.$tablet-width) {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    width: calc(100% - 54px);
  }
}

.main-footer__hashteg-link {
  display: inline-block;
  font-size: 21px;
  text-decoration: none;
  color: #000000;
  transition: all 0.3s;

  @media (min-width: variables.$tablet-width) {
    grid-column: 1/2;
    justify-self: start;

    &:hover {
      color: variables.$text-color-hover;
    }
  }

  &:active {
    color: variables.$text-color-active;
    transition-duration: 0.1s;
  }
}

.main-footer__socials-list {
  @media (min-width: variables.$tablet-width) {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}

.main-footer__develop-link {
  min-width: 129px;

  @media (min-width: variables.$tablet-width) {
    grid-column: 3/4;
    justify-self: end;
  }
}
