.socials-list {
  display: flex;
  gap: 6px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.socials-list__item,
.socials-list__link {
  min-width: 48px;
  min-height: 48px;
}

.socials-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #81b3d2;
}
